In [13]:
import pandas as pd
import sys
import_path_base = '/home/henrike/Documents/PD_AS/src/'
sys.path.insert(1, import_path_base + 'PRISM/prism/scripts/')
from PrismData import PrismParser, VariantData#VariantParser, VariantData
from Bio import AlignIO
import numpy as np

In [14]:
#read in ecoli prism data
base_dir = '/home/henrike/Documents/PD_AS/projects/Sofie_Mave/'

In [15]:
def read_from_prism(primsfile):
	parser = PrismParser()
	dataframe = parser.read(primsfile).dataframe
	meta_data = parser.read_header(primsfile)
	return meta_data, dataframe

def write_prism(metadata, dataframe, prism_file, comment=''):
	variant_dataset = VariantData(metadata, dataframe)
	parser = PrismParser()
	parser.write(prism_file, variant_dataset, comment_lines=comment)

In [17]:
ecoli_meta_data, ecoli_df = read_from_prism(base_dir + 'results/prism_mave/prism_mave_thompsen_Ecoli_dhfr.txt')

In [18]:
#remove double mutants
ecoli_df = ecoli_df[ecoli_df['n_mut']==1]
#and introduce a WT col with WT AA + pos for searching
ecoli_df['WT'] = ecoli_df['variant'].apply(lambda x: x[0:-1])
#and rename columns
ecoli_df = ecoli_df.rename(columns={'variant':'ecoli_variant', 'n_mut':'ecoli_n_mut','aa_ref':'ecoli_aa_ref','resi':'ecoli_resi','aa_var':'ecoli_aa_var','WT':'ecoli_WT'})

In [20]:
#read in an prepare human dhfr data 
human_meta_data, human_df = read_from_prism(base_dir + 'data/prism_MAVE_001_DHFR.txt')
human_df = human_df[human_df['n_mut']==1]
human_df['WT'] = human_df['variant'].apply(lambda x: x[0:-1])
human_df = human_df.rename(columns={'variant':'human_variant', 'n_mut':'human_n_mut','aa_ref':'human_aa_ref','resi':'human_resi','aa_var':'human_aa_var','WT':'human_WT'})

In [21]:
#read in alignment
s_align = AlignIO.read(open(base_dir + 'results/tcoffee_expresso/result.clustalw_aln'), "clustal")

In [22]:
#init merged df
merge_df = pd.DataFrame(columns=list(human_df.columns)+list(ecoli_df.columns))

In [23]:
amino_acids = ['H','K','R','D','E','C','M','N','Q','S','T','A','I','L','V','F','W','Y','G','P','*']

In [24]:
#go through alignment and add rows to the merged df
human_c = 0
ecoli_c = 0
#for i in range(0, len(s_align[0].seq)):
#the current human DHFR tile only goes til 39 anyway
#full length dhfr has 187 positions
for i in range(0,187):
    if s_align[0].seq[i] != '-': human_c += 1
    if s_align[1].seq[i] != '-': ecoli_c += 1
    print('human:', s_align[0].seq[i], str(human_c), 'ecoli:', s_align[1].seq[i], str(ecoli_c))
    for aa in amino_acids:
        #append row with human:S4A and ecoli:M1A
        merge_df = merge_df.append(pd.concat([human_df.loc[human_df['human_variant'] == s_align[0].seq[i]+str(human_c)+aa].reset_index(drop=True),ecoli_df.loc[ecoli_df['ecoli_variant'] == s_align[1].seq[i]+str(ecoli_c)+aa].reset_index(drop=True)], axis = 1), ignore_index=True)

human: M 1 ecoli: - 0
human: V 2 ecoli: - 0
human: G 3 ecoli: - 0
human: S 4 ecoli: M 1
human: L 5 ecoli: I 2
human: N 6 ecoli: S 3
human: C 7 ecoli: L 4
human: I 8 ecoli: I 5
human: V 9 ecoli: A 6
human: A 10 ecoli: A 7
human: V 11 ecoli: L 8
human: S 12 ecoli: A 9
human: Q 13 ecoli: V 10
human: N 14 ecoli: D 11
human: M 15 ecoli: R 12
human: G 16 ecoli: V 13
human: I 17 ecoli: I 14
human: G 18 ecoli: G 15
human: K 19 ecoli: M 16
human: N 20 ecoli: E 17
human: G 21 ecoli: N 18
human: D 22 ecoli: A 19
human: L 23 ecoli: M 20
human: P 24 ecoli: P 21
human: W 25 ecoli: W 22
human: P 26 ecoli: N 23
human: P 27 ecoli: - 23
human: L 28 ecoli: L 24
human: R 29 ecoli: P 25
human: N 30 ecoli: A 26
human: E 31 ecoli: D 27
human: F 32 ecoli: L 28
human: R 33 ecoli: A 29
human: Y 34 ecoli: W 30
human: F 35 ecoli: F 31
human: Q 36 ecoli: K 32
human: R 37 ecoli: R 33
human: M 38 ecoli: N 34
human: T 39 ecoli: T 35
human: T 40 ecoli: L 36
human: T 41 ecoli: N 37
human: S 42 ecoli: - 37
human: S 43 ecoli: - 37
human: V 44 ecoli: - 37
human: E 45 ecoli: - 37
human: G 46 ecoli: - 37
human: K 47 ecoli: - 37
human: Q 48 ecoli: - 37
human: N 49 ecoli: K 38
human: L 50 ecoli: P 39
human: V 51 ecoli: V 40
human: I 52 ecoli: I 41
human: M 53 ecoli: M 42
human: G 54 ecoli: G 43
human: K 55 ecoli: R 44
human: K 56 ecoli: H 45
human: T 57 ecoli: T 46
human: W 58 ecoli: W 47
human: F 59 ecoli: E 48
human: S 60 ecoli: S 49
human: I 61 ecoli: I 50
human: P 62 ecoli: G 51
human: E 63 ecoli: - 51
human: K 64 ecoli: - 51
human: N 65 ecoli: - 51
human: R 66 ecoli: R 52
human: P 67 ecoli: P 53
human: L 68 ecoli: L 54
human: K 69 ecoli: P 55
human: G 70 ecoli: G 56
human: R 71 ecoli: R 57
human: I 72 ecoli: K 58
human: N 73 ecoli: N 59
human: L 74 ecoli: I 60
human: V 75 ecoli: I 61
human: L 76 ecoli: L 62
human: S 77 ecoli: S 63
human: R 78 ecoli: S 64
human: E 79 ecoli: Q 65
human: L 80 ecoli: - 65
human: K 81 ecoli: - 65
human: E 82 ecoli: P 66
human: P 83 ecoli: G 67
human: P 84 ecoli: T 68
human: Q 85 ecoli: D 69
human: G 86 ecoli: D 70
human: A 87 ecoli: R 71
human: H 88 ecoli: V 72
human: F 89 ecoli: T 73
human: L 90 ecoli: W 74
human: S 91 ecoli: V 75
human: R 92 ecoli: K 76
human: S 93 ecoli: S 77
human: L 94 ecoli: V 78
human: D 95 ecoli: D 79
human: D 96 ecoli: E 80
human: A 97 ecoli: A 81
human: L 98 ecoli: I 82
human: K 99 ecoli: A 83
human: L 100 ecoli: A 84
human: T 101 ecoli: C 85
human: E 102 ecoli: - 85
human: Q 103 ecoli: - 85
human: P 104 ecoli: - 85
human: E 105 ecoli: - 85
human: L 106 ecoli: - 85
human: A 107 ecoli: - 85
human: N 108 ecoli: G 86
human: K 109 ecoli: D 87
human: V 110 ecoli: V 88
human: D 111 ecoli: P 89
human: M 112 ecoli: E 90
human: V 113 ecoli: I 91
human: W 114 ecoli: M 92
human: I 115 ecoli: V 93
human: V 116 ecoli: I 94
human: G 117 ecoli: G 95
human: G 118 ecoli: G 96
human: S 119 ecoli: G 97
human: S 120 ecoli: R 98
human: V 121 ecoli: V 99
human: Y 122 ecoli: Y 100
human: K 123 ecoli: E 101
human: E 124 ecoli: Q 102
human: A 125 ecoli: F 103
human: M 126 ecoli: L 104
human: N 127 ecoli: P 105
human: H 128 ecoli: K 106
human: P 129 ecoli: - 106
human: G 130 ecoli: - 106
human: H 131 ecoli: A 107
human: L 132 ecoli: Q 108
human: K 133 ecoli: K 109
human: L 134 ecoli: L 110
human: F 135 ecoli: Y 111
human: V 136 ecoli: L 112
human: T 137 ecoli: T 113
human: R 138 ecoli: H 114
human: I 139 ecoli: I 115
human: M 140 ecoli: D 116
human: Q 141 ecoli: A 117
human: D 142 ecoli: E 118
human: F 143 ecoli: V 119
human: E 144 ecoli: E 120
human: S 145 ecoli: G 121
human: D 146 ecoli: D 122
human: T 147 ecoli: T 123
human: F 148 ecoli: H 124
human: F 149 ecoli: F 125
human: P 150 ecoli: P 126
human: E 151 ecoli: D 127
human: I 152 ecoli: Y 128
human: D 153 ecoli: E 129
human: L 154 ecoli: P 130
human: E 155 ecoli: D 131
human: K 156 ecoli: D 132
human: Y 157 ecoli: W 133
human: K 158 ecoli: E 134
human: L 159 ecoli: S 135
human: L 160 ecoli: V 136
human: P 161 ecoli: F 137
human: E 162 ecoli: - 137
human: Y 163 ecoli: - 137
human: P 164 ecoli: - 137
human: G 165 ecoli: S 138
human: V 166 ecoli: E 139
human: L 167 ecoli: F 140
human: S 168 ecoli: H 141
human: D 169 ecoli: D 142
human: V 170 ecoli: A 143
human: Q 171 ecoli: D 144
human: E 172 ecoli: A 145
human: E 173 ecoli: Q 146
human: K 174 ecoli: N 147
human: G 175 ecoli: S 148
human: I 176 ecoli: H 149
human: K 177 ecoli: S 150
human: Y 178 ecoli: Y 151
human: K 179 ecoli: C 152
human: F 180 ecoli: F 153
human: E 181 ecoli: E 154
human: V 182 ecoli: I 155
human: Y 183 ecoli: L 156
human: E 184 ecoli: E 157
human: K 185 ecoli: R 158
human: N 186 ecoli: R 159
human: D 187 ecoli: - 159

In [25]:
merge_df

,human_variant,score,SE,tile,human_n_mut,human_aa_ref,human_resi,human_aa_var,human_WT,ecoli_variant,...,Lon_minus_std_dev,Lon_minus_std_err,Lon_plus_score,Lon_plus_std_dev,Lon_plus_std_err,ecoli_n_mut,ecoli_aa_ref,ecoli_resi,ecoli_aa_var,ecoli_WT
0,V2H,-0.391535,0.311642,1,1,[V],[2],[H],V2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,V2K,0.206199,0.232451,1,1,[V],[2],[K],V2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,V2R,0.061586,0.251602,1,1,[V],[2],[R],V2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,V2D,0.121341,0.194870,1,1,[V],[2],[D],V2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,V2E,0.115536,0.160239,1,1,[V],[2],[E],V2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3717,D187F,0.200886,0.026569,5,1,[D],[187],[F],D187,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3718,D187W,0.210491,0.050457,5,1,[D],[187],[W],D187,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3719,D187Y,0.414320,0.059295,5,1,[D],[187],[Y],D187,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3720,D187G,0.279710,0.043179,5,1,[D],[187],[G],D187,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3721,D187P,0.293374,0.051991,5,1,[D],[187],[P],D187,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
merge_df.to_csv(base_dir+'/data/merge_human_ecoli_fulldhfr.csv', sep = '\t', na_rep='NA')

In [27]:
#test:
merge_df2 = pd.DataFrame(columns=list(human_df.columns)+list(ecoli_df.columns))

human_c = 0
ecoli_c = 0
#for i in range(0, len(s_align[0].seq)):
for i in range(0,2):
    if s_align[0].seq[i] != '-': human_c += 1
    if s_align[1].seq[i] != '-': ecoli_c += 1
    print('human:', s_align[0].seq[i], str(human_c), 'ecoli:', s_align[1].seq[i], str(ecoli_c))
    for aa in amino_acids:
        #append row with human:S4A and ecoli:M1A
        merge_df2 = merge_df2.append(pd.concat([human_df.loc[human_df['human_variant'] == s_align[0].seq[i]+str(human_c)+aa].reset_index(drop=True),ecoli_df.loc[ecoli_df['ecoli_variant'] == s_align[1].seq[i]+str(ecoli_c)+aa].reset_index(drop=True)], axis = 1), ignore_index=True)

human: M 1 ecoli: - 0
human: V 2 ecoli: - 0

In [28]:
merge_df2
#observation:
#It skips completely empty rows (composed only of NAs) like the human:M1 line (the mave starts at pos 2 since we use a fusion protein)

,human_variant,MTX_score,MTX_SE,MTX_Cu_score,MTX_Cu_SE,37_score,37_SE,37_Cu_score,37_Cu_SE,human_n_mut,...,Lon_minus_std_dev,Lon_minus_std_err,Lon_plus_score,Lon_plus_std_dev,Lon_plus_std_err,ecoli_n_mut,ecoli_aa_ref,ecoli_resi,ecoli_aa_var,ecoli_WT
0,V2H,-0.286942,0.356365,-0.701059,0.198073,-0.319804,0.536673,0.401002,0.737741,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,V2K,0.020324,0.221691,0.689756,0.490723,1.749161,1.007435,0.437940,0.281015,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,V2R,0.205459,0.099615,-0.035478,0.207287,NaN,NaN,0.257201,0.378342,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,V2D,-0.007734,0.744842,-0.093837,0.476336,-0.928840,0.548459,0.406764,0.776011,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,V2E,-0.157151,0.148753,0.520350,0.367248,-0.158215,0.499464,-0.410229,0.428925,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,V2C,0.810929,0.684289,0.334408,1.087821,-0.314401,1.017164,0.208587,0.286785,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,V2M,0.468150,0.414734,0.371962,0.413697,0.762780,0.657686,0.163284,0.791211,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,V2N,-0.459645,0.484509,-0.361201,0.441901,-0.358981,0.322562,-0.714165,0.518612,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,V2Q,-0.140268,0.465379,0.082057,0.445276,-0.762146,0.635072,-0.147298,0.392828,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,V2S,0.020571,0.066504,-0.219469,0.168145,0.595595,0.594085,-0.116430,0.457736,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,V2T,0.340897,0.292280,-0.427087,0.516722,-0.121132,0.277999,-0.132329,0.277394,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,V2A,-0.144436,0.207918,-0.048312,0.086620,0.271316,0.653001,0.240384,0.270966,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,V2I,-0.748312,0.488069,-0.368338,0.143316,-0.837198,0.232719,-0.567405,0.182908,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,V2L,NaN,NaN,0.465342,0.408500,NaN,NaN,-0.223191,0.150480,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,V2F,-0.112675,0.125393,-0.972789,0.228885,-1.071899,0.070878,-0.331263,0.307833,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,V2W,NaN,NaN,-0.061704,0.325974,-0.440371,0.503913,-0.735029,0.546943,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,V2Y,NaN,NaN,0.531448,0.730146,NaN,NaN,1.084163,0.748352,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,V2G,-0.023711,0.092107,0.001101,0.140023,-0.163210,1.113850,-0.153493,0.330262,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,V2P,0.291268,0.472379,0.321542,0.066486,0.030170,0.564313,-0.375665,0.505646,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
#correct indexing?

human_c = 0
ecoli_c = 0
#for i in range(0, len(s_align[0].seq)):
for i in range(0,10):
    if s_align[0].seq[i] != '-': human_c += 1
    if s_align[1].seq[i] != '-': ecoli_c += 1
    for aa in amino_acids:
        print('human:', s_align[0].seq[i]+str(human_c)+aa, 'ecoli:', s_align[1].seq[i]+str(ecoli_c)+aa)
        #append row with human:S4A and ecoli:M1A
        #merge_df = merge_df.append(pd.concat([human_df.loc[human_df['human_variant'] == s_align[0].seq[i]+str(human_c)+aa],ecoli_df.loc[ecoli_df['ecoli_variant'] == s_align[1].seq[i]+str(ecoli_c)+aa]], axis = 1), ignore_index=True)

human: M1H ecoli: -0H
human: M1K ecoli: -0K
human: M1R ecoli: -0R
human: M1D ecoli: -0D
human: M1E ecoli: -0E
human: M1C ecoli: -0C
human: M1M ecoli: -0M
human: M1N ecoli: -0N
human: M1Q ecoli: -0Q
human: M1S ecoli: -0S
human: M1T ecoli: -0T
human: M1A ecoli: -0A
human: M1I ecoli: -0I
human: M1L ecoli: -0L
human: M1V ecoli: -0V
human: M1F ecoli: -0F
human: M1W ecoli: -0W
human: M1Y ecoli: -0Y
human: M1G ecoli: -0G
human: M1P ecoli: -0P
human: M1* ecoli: -0*
human: V2H ecoli: -0H
human: V2K ecoli: -0K
human: V2R ecoli: -0R
human: V2D ecoli: -0D
human: V2E ecoli: -0E
human: V2C ecoli: -0C
human: V2M ecoli: -0M
human: V2N ecoli: -0N
human: V2Q ecoli: -0Q
human: V2S ecoli: -0S
human: V2T ecoli: -0T
human: V2A ecoli: -0A
human: V2I ecoli: -0I
human: V2L ecoli: -0L
human: V2V ecoli: -0V
human: V2F ecoli: -0F
human: V2W ecoli: -0W
human: V2Y ecoli: -0Y
human: V2G ecoli: -0G
human: V2P ecoli: -0P
human: V2* ecoli: -0*
human: G3H ecoli: -0H
human: G3K ecoli: -0K
human: G3R ecoli: -0R
human: G3D ecoli: -0D
human: G3E ecoli: -0E
human: G3C ecoli: -0C
human: G3M ecoli: -0M
human: G3N ecoli: -0N
human: G3Q ecoli: -0Q
human: G3S ecoli: -0S
human: G3T ecoli: -0T
human: G3A ecoli: -0A
human: G3I ecoli: -0I
human: G3L ecoli: -0L
human: G3V ecoli: -0V
human: G3F ecoli: -0F
human: G3W ecoli: -0W
human: G3Y ecoli: -0Y
human: G3G ecoli: -0G
human: G3P ecoli: -0P
human: G3* ecoli: -0*
human: S4H ecoli: M1H
human: S4K ecoli: M1K
human: S4R ecoli: M1R
human: S4D ecoli: M1D
human: S4E ecoli: M1E
human: S4C ecoli: M1C
human: S4M ecoli: M1M
human: S4N ecoli: M1N
human: S4Q ecoli: M1Q
human: S4S ecoli: M1S
human: S4T ecoli: M1T
human: S4A ecoli: M1A
human: S4I ecoli: M1I
human: S4L ecoli: M1L
human: S4V ecoli: M1V
human: S4F ecoli: M1F
human: S4W ecoli: M1W
human: S4Y ecoli: M1Y
human: S4G ecoli: M1G
human: S4P ecoli: M1P
human: S4* ecoli: M1*
human: L5H ecoli: I2H
human: L5K ecoli: I2K
human: L5R ecoli: I2R
human: L5D ecoli: I2D
human: L5E ecoli: I2E
human: L5C ecoli: I2C
human: L5M ecoli: I2M
human: L5N ecoli: I2N
human: L5Q ecoli: I2Q
human: L5S ecoli: I2S
human: L5T ecoli: I2T
human: L5A ecoli: I2A
human: L5I ecoli: I2I
human: L5L ecoli: I2L
human: L5V ecoli: I2V
human: L5F ecoli: I2F
human: L5W ecoli: I2W
human: L5Y ecoli: I2Y
human: L5G ecoli: I2G
human: L5P ecoli: I2P
human: L5* ecoli: I2*
human: N6H ecoli: S3H
human: N6K ecoli: S3K
human: N6R ecoli: S3R
human: N6D ecoli: S3D
human: N6E ecoli: S3E
human: N6C ecoli: S3C
human: N6M ecoli: S3M
human: N6N ecoli: S3N
human: N6Q ecoli: S3Q
human: N6S ecoli: S3S
human: N6T ecoli: S3T
human: N6A ecoli: S3A
human: N6I ecoli: S3I
human: N6L ecoli: S3L
human: N6V ecoli: S3V
human: N6F ecoli: S3F
human: N6W ecoli: S3W
human: N6Y ecoli: S3Y
human: N6G ecoli: S3G
human: N6P ecoli: S3P
human: N6* ecoli: S3*
human: C7H ecoli: L4H
human: C7K ecoli: L4K
human: C7R ecoli: L4R
human: C7D ecoli: L4D
human: C7E ecoli: L4E
human: C7C ecoli: L4C
human: C7M ecoli: L4M
human: C7N ecoli: L4N
human: C7Q ecoli: L4Q
human: C7S ecoli: L4S
human: C7T ecoli: L4T
human: C7A ecoli: L4A
human: C7I ecoli: L4I
human: C7L ecoli: L4L
human: C7V ecoli: L4V
human: C7F ecoli: L4F
human: C7W ecoli: L4W
human: C7Y ecoli: L4Y
human: C7G ecoli: L4G
human: C7P ecoli: L4P
human: C7* ecoli: L4*
human: I8H ecoli: I5H
human: I8K ecoli: I5K
human: I8R ecoli: I5R
human: I8D ecoli: I5D
human: I8E ecoli: I5E
human: I8C ecoli: I5C
human: I8M ecoli: I5M
human: I8N ecoli: I5N
human: I8Q ecoli: I5Q
human: I8S ecoli: I5S
human: I8T ecoli: I5T
human: I8A ecoli: I5A
human: I8I ecoli: I5I
human: I8L ecoli: I5L
human: I8V ecoli: I5V
human: I8F ecoli: I5F
human: I8W ecoli: I5W
human: I8Y ecoli: I5Y
human: I8G ecoli: I5G
human: I8P ecoli: I5P
human: I8* ecoli: I5*
human: V9H ecoli: A6H
human: V9K ecoli: A6K
human: V9R ecoli: A6R
human: V9D ecoli: A6D
human: V9E ecoli: A6E
human: V9C ecoli: A6C
human: V9M ecoli: A6M
human: V9N ecoli: A6N
human: V9Q ecoli: A6Q
human: V9S ecoli: A6S
human: V9T ecoli: A6T
human: V9A ecoli: A6A
human: V9I ecoli: A6I
human: V9L ecoli: A6L
human: V9V ecoli: A6V
human: V9F ecoli: A6F
human: V9W ecoli: A6W
human: V9Y ecoli: A6Y
human: V9G ecoli: A6G
human: V9P ecoli: A6P
human: V9* ecoli: A6*
human: A10H ecoli: A7H
human: A10K ecoli: A7K
human: A10R ecoli: A7R
human: A10D ecoli: A7D
human: A10E ecoli: A7E
human: A10C ecoli: A7C
human: A10M ecoli: A7M
human: A10N ecoli: A7N
human: A10Q ecoli: A7Q
human: A10S ecoli: A7S
human: A10T ecoli: A7T
human: A10A ecoli: A7A
human: A10I ecoli: A7I
human: A10L ecoli: A7L
human: A10V ecoli: A7V
human: A10F ecoli: A7F
human: A10W ecoli: A7W
human: A10Y ecoli: A7Y
human: A10G ecoli: A7G
human: A10P ecoli: A7P
human: A10* ecoli: A7*

In [47]:
#tmp_df = pd.concat([human_df.loc[human_df['human_variant'] == s_align[0].seq[i]+str(human_c)+aa],ecoli_df.loc[ecoli_df['ecoli_variant'] == s_align[1].seq[i]+str(ecoli_c)+aa]], axis = 1)
tmp_df = pd.concat([human_df.loc[human_df['human_variant'] == 'S4K'].reset_index(drop=True),ecoli_df.loc[ecoli_df['ecoli_variant'] == 'M1K'].reset_index(drop=True)], axis = 1)
tmp_df

,human_variant,MTX_score,MTX_SE,MTX_Cu_score,MTX_Cu_SE,37_score,37_SE,37_Cu_score,37_Cu_SE,human_n_mut,...,Lon_minus_std_dev,Lon_minus_std_err,Lon_plus_score,Lon_plus_std_dev,Lon_plus_std_err,ecoli_n_mut,ecoli_aa_ref,ecoli_resi,ecoli_aa_var,ecoli_WT
0,S4K,-0.014153,0.600629,-0.557012,0.126831,-0.119039,0.463813,-0.835569,0.278303,1,...,NaN,NaN,NaN,NaN,NaN,1,[M],[1],[K],M1

In [36]:
human_df.loc[human_df['human_variant'] == 'S4K'].reset_index(drop=True)

,human_variant,MTX_score,MTX_SE,MTX_Cu_score,MTX_Cu_SE,37_score,37_SE,37_Cu_score,37_Cu_SE,human_n_mut,human_aa_ref,human_resi,human_aa_var,human_WT
0,S4K,-0.014153,0.600629,-0.557012,0.126831,-0.119039,0.463813,-0.835569,0.278303,1,[S],[4],[K],S4

In [55]:
merge_df.loc[merge_df['human_variant'] == 'L5I']

,human_variant,MTX_score,MTX_SE,MTX_Cu_score,MTX_Cu_SE,37_score,37_SE,37_Cu_score,37_Cu_SE,human_n_mut,...,Lon_minus_std_dev,Lon_minus_std_err,Lon_plus_score,Lon_plus_std_dev,Lon_plus_std_err,ecoli_n_mut,ecoli_aa_ref,ecoli_resi,ecoli_aa_var,ecoli_WT
69,L5I,-0.696559,0.556897,-0.677255,0.284411,-1.594511,0.404429,-0.257407,0.63212,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN